Things:

Chest
Rear Delts
Front delts
Side Delts
Quads
Hamstrings
Calves
Back
Lats
traps
Abs
biceps
triceps
forearms
biking
walking





Website ideas:

"want more?" box
for something like side delts, if i want more that day, i click the button and it shows me isolated side rises.
or something like biceps or triceps. just extra exercises
